
main {
    background: #C4C4C4;
    width: 70%;
    height: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
}

main h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Football-images-Top {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.Admin-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: #6599FF;
    width: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.Admin-section label {
    padding: 10px;
}

.Admin-section input {
    margin: 10px;
    border: solid 2px black;
}

.Football-images-Bottom {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}