
main {
    background: #C4C4C4;
    width: 70%;
    height: auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
}

main h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Users-and-Teams {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.Register-User {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: #FB7E2C;
    width: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 3%;
}

.Register-User label {
    padding: 10px;
}

.Register-User input {
    margin: 10px;
    border: solid 2px black;
}

.Register-Team {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-color: #3BD80D;
    width: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 3%;
}

.Register-Team label {
    padding: 10px;
}

.Register-Team input {
    margin: 10px;
    border: solid 2px black;
}

.Football-images-Top {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.Football-images-Bottom {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #588c7e;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}
th {
    background-color: #588c7e;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}

.Table-info {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
    width: 600px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 3%;
}